<!--The content below is only a placeholder and can be replaced.-->
<div>
  <nav class='navbar navbar-inverse'>
      <div class="container-fluid">
          <a [routerLink]="['/admin']" class="navbar-brand">Data Passing W/O Service</a>
          <ul class="nav navbar-nav">
            <li><a [routerLink]="['/admin']">Admin</a></li>
            <li><a [routerLink]="['/user']">User</a></li>                  
          </ul>
      </div>
  </nav>
  <div class="container">
      <router-outlet></router-outlet>
  </div>
</div>

